{% extends 'layout.html' %}
<style></style>
{% load static %}
<!-- block bgnn -->
{% block content %}

<div class="text-center"><h3>Tehilians Cookie Notice</h3></div>

<div class="m-4">
  <p>
    1.<b> Cookies and how we use them </b>

    <br />
    A cookie is a small file of letters and numbers that websites send to the
    browser which are stored in the User terminal, which might be our computer,
    phones or applications, your personal computer, a mobile phone, a tablet, or
    any other device.
    <br />
    Cookies allow us to distinguish you from other users of our website and
    mobile applications, which helps us to provide you with an enhanced browsing
    experience. For example we use cookies for the following purposes:
    <br />
    Recognising and counting the number of visitors and to see how visitors move
    around our sites, mobile apps [and app] when they are using it (this helps
    us to improve the way our website works, for example by ensuring that users
    can find what they are looking for).
    <br />
    Identifying your preferences and subscriptions e.g. language settings, saved
    items, items stored in your basket and Prime membership; and
    <br />
    Sending you newsletters and commercial/advertising messages tailored to your
    interests.
  </p>
</div>

<div class="m-4">
  <p>
    Our approved third parties may also set cookies when you use our
    marketplace. Third parties include search engines, providers of measurement
    and analytics services, social media networks and advertising companies.
  </p>
</div>

<div>
  <p class="m-4">
    2.<b> Cookie Preferences </b><br />
    We use technology such as “cookies” to collect information and store your
    online preferences.
    <br />
    By managing your cookie preference you enable or disable a specific set of
    cookies based on predefined categorisation:
  </p>
</div>

<div class="m-4">
  <p>
    <b>Strictly Necessary Cookies </b><br />
    This cookie enables website functionality and is automatically enabled when
    you use the Site. This is essential to the operation of the Site to help you
    make the bag and check out process possible. You cannot disable this
    category of cookie.
    <br />
    <b>Analytics Cookies </b><br />
    It is important for Us to understand how you use the Site, for example, how
    efficiently you are able to navigate around it, and what features you use.
    Analytics Cookies enable us to gather this information, helping Us to
    improve Our Site and your experience of it.
    <br />
    <b>Functional Cookies </b><br />
    Functionality Cookies allow the Site to remember the choice you made and
    provide you with enhanced personal features. The information these cookies
    collect is anonymised and doesn’t track your browsing activity on the Site.
    <br />
    <b>Targeting Cookies </b><br />
    It is important for Us to know when and how often you visit the Site, and
    which parts of it you have used (including which pages you have visited, and
    which links you have visited). As with Analytics Cookies, this information
    helps us to better understand you and, in turn, to make Our Site and
    advertising more relevant to your interests. Some information gathered by
    Targeting Cookies may also be shared with third parties.
    <br />
    <b>Third Party Cookies </b><br />
    Third party Cookies are not placed by Us; instead, they are placed by third
    parties that provide services to Us and/or to you. Third party Cookies may
    be used by advertising services to serve up tailored advertising to you on
    Our Site, or by third parties providing analytics services to Us (these
    Cookies will work in the same way as Analytics Cookies described above).
    <br />
    <b>Persistent Cookies </b><br />
    Any of the above types of Cookie may be a persistent Cookie. Persistent
    Cookies are those which remain on your computer or device for a
    predetermined period and are activated each time you visit Our Site.
    <br />
    <b>Session Cookies </b><br />
    Any of the above types of Cookie may be a session Cookie. Session Cookies
    are temporary and only remain on your computer or device from the point at
    which you visit Our Site until you close your browser. Session Cookies are
    deleted when you close your browser.
    <br />
    For more details of the personal data that We collect and use, the measures
    we have in place to protect personal data, your legal rights, and our legal
    obligations, please refer to our Privacy notice
  </p>
</div>

<div>
  <p class="m-4">
    <b>3. Consent</b><br />
    Before Cookies are placed on your computer or device, you will be shown a
    prompt requesting your consent to set those Cookies. By giving your consent
    to the placing of Cookies you are enabling Us to provide the best possible
    experience and service to you. You may, if you wish, deny consent to the
    placing of Cookies (unless those Cookies are strictly necessary); however
    certain features of Our Site may not function fully or as intended. You will
    be given the opportunity to allow and/or deny different categories of Cookie
    that We use.
    <br />
    In addition to the controls that We provide, you can choose to enable or
    disable Cookies in your internet browser. Most internet browsers also enable
    you to choose whether you wish to disable all Cookies or only third- party
    Cookies. By default, most internet browsers accept Cookies but this can be
    changed. For further details, please consult the help menu in your internet
    browser or the documentation that came with your device.
  </p>
</div>

<div>
  <p class="m-4">
    <b>4. Changes to this Cookie Policy </b><br />
    We may alter this Cookie Policy at any time. If We do so, details of the
    changes will be highlighted at the top of this page. Any such changes will
    become binding on you on your first use of Our Site after the changes have
    been made. You are therefore advised to check this page from time to time.
    <br />
    In the event of any conflict between the current version of this Cookie
    Policy and any previous version(s), the provisions current and in effect
    shall prevail unless it is expressly stated otherwise.
  </p>
</div>

<div
  class="d-md-flex text-light d-none p-2"
  style="background-color: black; justify-content: space-between"
>
  <h4>Tehilians<i class="bi bi-x-diamond text-light mx-2"></i></h4>
  <div class="d-block">
    <h4><i class="bi bi-envelope-at-fill mx-1"></i> Email support</h4>
    <p>thetehilians@gmail.com</p>
  </div>

</div>

<div
  class="d-none d-md-flex mt-1"
  style="justify-content: space-between; background-color: black"
>
  <div class="">
    <h5 class="text-left text-warning px-3 text-decoration-underline">
      About us
    </h5>
    <a class="d-block nav-link text-warning" href="{% url 'core:contact_us' %}"
      >Contact us</a
    >
    <a class="d-block nav-link text-warning" href="{% url 'core:about' %}"
      >About us</a
    >
    <a class="d-block nav-link text-warning" href="{% url 'core:rules' %}"
      >Terms and Conditions</a
    >
    <a
      class="d-block nav-link text-warning"
      href="{% url 'core:privacy_policy' %}"
      >Privacy policy</a
    >
    <a
      class="d-block nav-link text-warning"
      href="{% url 'core:cookie_notice' %}"
      >Cookie policy</a
    >
  </div>

  <div>
    <h5 class="text-warning px-3 text-decoration-underline">Let us help you</h5>
    <a class="d-block nav-link text-warning" href="{% url 'core:howtoorder' %}"
      >How to order a product</a
    >
    <a class="d-block nav-link text-warning" href="{% url 'core:ouroptions' %}"
      >Delivery options</a
    >
  </div>

  <!-- <div>
    <h5 class="text-warning px-3 text-decoration-underline">Our Resources</h5>
    <a class="d-block nav-link text-warning" href=""
      ><i class="bi bi-instagram">Our insta</i></a
    >

    <a
      class="d-block nav-link text-warning"
      href="{https://twitter.com/tehilszn1}"
      ><i class="bi bi-twitter">Our twitter</i></a
    >
  </div> -->

</div>

<div style="background-color: black" class="text-center">
  <p class="text-light">Tehilians 2023.</p>
</div>

<!-- gh -->
{% endblock %}
