<div
  class="d-md-flex text-light d-none"
  style="background-color: darkred; justify-content: space-between"
>
  <h1>Sellit <i class="bi bi-airplane text-light mx-2"></i></h1>
  <div class="d-block">
    <h4><i class="bi bi-envelope-at-fill mx-1"></i> Email support</h4>
    <p>Sellitpartners@gmail.com</p>
  </div>

  <div>
    <h4>Get latest updates from us</h4>
    <form action="/action_page.php">
      <label for="email"></label>
      <input
        type="email"
        placeholder="Enter your email"
        id="email"
        name="email"
      />
      <button class="btn btn-warning" type="submit">Subscribe</button>
    </form>
  </div>
</div>

<div
  class="d-none d-md-flex mt-1"
  style="justify-content: space-between; background-color: darkred"
>
  <div class="">
    <h5 class="text-left text-warning px-3 text-decoration-underline">
      About us
    </h5>
    <a class="d-block nav-link text-warning" href="">Contact us</a>
    <a class="d-block nav-link text-warning" href="">About us</a>
    <a class="d-block nav-link text-warning" href="">Terms and Conditions</a>
    <a class="d-block nav-link text-warning" href="">Privacy policy</a>
    <a class="d-block nav-link text-warning" href="">Cookie policy</a>
  </div>

  <div>
    <h5 class="text-warning px-3 text-decoration-underline">Let us help you</h5>
    <a class="d-block nav-link text-warning" href=""
      >How to order/return a product?</a
    >
    <a class="d-block nav-link text-warning" href="">Return/refund policy</a>
    <a class="d-block nav-link text-warning" href="">Report a product</a>
    <a class="d-block nav-link text-warning" href="">Delivery options</a>
  </div>

  <div>
    <h5 class="text-warning px-3 text-decoration-underline">
      How to make money on sellit
    </h5>
    <a class="d-block nav-link text-warning" href="">Become a seller</a>
  </div>

  <div>
    <h5 class="text-warning px-3 text-decoration-underline">Our Resources</h5>
    <a
      class="d-block nav-link text-warning"
      href="{% url 'twitter.com/@tehilszn1' %}"
      ><i class="bi bi-instagram">Our insta</i></a
    >
    <a class="d-block nav-link text-warning" href=""
      ><i class="bi bi-twitter">Our twitter</i></a
    >
  </div>

  <div>
    <h5 class="text-warning px-3 text-decoration-underline">Payment Methods</h5>
    <a class="d-block nav-link text-warning" href="">Mastercard</a>
    <a class="d-block nav-link text-warning" href="">Verve</a>
    <a class="d-block nav-link text-warning" href="">Visa</a>
  </div>
</div>

<div style="background-color: darkred" class="text-center">
  <p>Sellit coorporation limited 2023.</p>
</div>
