{% extends 'layout.html' %}
<style></style>
{% load static %}
<!-- block bgnn -->
{% block content %}

<div class="d-block d-md-flex" style="background-color: #ededed">
  <div
    class="card card-body border-bottom mx-md-4 mx-auto mt-2 col-10 col-md-9"
  >
    <img
      src="{% static 'images/t-shirt4.jpg' %}"
      height="500"
      width="700"
      alt=""
    />
  </div>

  <div
    class="card card-body text-center mt-2 mx-md-4 mx-auto border-bottom col-10 col-md-5"
  >
    <!-- card body is important -->
    <h5>White Tees(grapics)</h5>
    <p>N5,000</p>
    <p>
      desc. <br />An "X-men" inspired-designed top that will go great with your
      jeans ;)
    </p>
    <p>Available sizes <br />S, L, XL & XXL</p>
    <div class="btn btn-success">
      {% if not request.user.is_authenticated %}
      <li class="nav-item">
        <a
          class="nav-link btn btn-success text-light"
          href="{% url 'account:accounts' %}"
          >Log into your account to place an order :)
        </a>
        {% else %}
        <div class="btn btn-success">
          call our number +2348143556118 to order
        </div>
      </li>
      {% endif %}
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="justify-content-between d-flex mx-2">
    <b class="p-2">Others also view</b>
    <a href="{% url 'core:tehilians_polos' %}">Check out more of our tops></a>
  </div>
  <div class="d-flex">
    <div class="card card-body m-2 d-flex bg-dark">
      <a
        class="d-md-flex"
        style="justify-content: space-evenly"
        href="{% url 'core:whiteplaintee' %}"
        ><img
          src="{% static 'images/t-shirt.jpeg' %}"
          height="70"
          width="90"
          alt=""
        />
        <div class="text-light d-block text-center">
          <h5>Plain White Tee</h5>
          <p>N3,000</p>
        </div>
      </a>
    </div>

    <!-- two -->
    <div class="card card-body m-2 d-flex bg-dark">
      <a
        class="d-md-flex"
        style="justify-content: space-evenly"
        href="{% url 'core:theboystee' %}"
        ><img
          src="{% static 'images/t-shirt5.jpg' %}"
          width="90"
          height="70"
          alt=""
        />
        <div class="text-light d-block text-center">
          <h5>"the boys" Black Tees</h5>
          <p>N7,000</p>
        </div>
      </a>
    </div>

    <!-- three -->
    <div class="card card-body m-2 d-flex bg-dark">
      <a
        class="d-md-flex"
        style="justify-content: space-evenly"
        href="{% url 'core:plaintee' %}"
        ><img
          src="{% static 'images/t-shirt3.jpg' %}"
          height="70"
          width="90"
          alt=""
        />
        <div class="text-light d-block text-center">
          <h5>Plain Tees</h5>
          <p>N5,000</p>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- conc. -->
<div style="background-color: black" class="text-center">
  <p class="text-light">Tehilians 2023.</p>
</div>

{% endblock %}
